sqlmodel
fastapi
asgiref==3.7.2
pydantic-settings==2.1.0
pydantic
fastapi-limiter==0.1.5
python-dotenv
loguru
starlette
uvicorn
redis
asyncmy==0.2.9
pyjwt
pandas~=2.2.2
sqlalchemy
motor
funboost
pytz~=2020.5
fire~=0.6.0
pillow
tos
requests
modelscope
opencv-python
datasets==2.21.0
oss2
simplejson
transformers

